// colors
$black: black;
$white: white;
$h-color: #FCEED5;
$btn-color: #003459;
$c-txt-color:#667479;
$p-color: #242B33;

// font-weights
$fw700: 700;
$fw500: 500;
$fw400: 400;

// font-sizes
$fs30: 30px;
$fs16: 16px;
